.borda{
    border: 1px solid var(--cor-borda);
}

.menor {
    max-width: 35%;
}

.maior {
    max-width: 52%;
}

.melhor {
    max-width: 100%;
}

.comentario {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
}

.pagamento{
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    margin-top: auto;
}


@media (max-width: 426px) {
    .menor{
        max-width: 90%;
    }

    .maior {
        max-width: 100%;
    }
}

@media (max-width: 769px){
    .menor {
        max-width: 90%;
    }
}