.containerPrincipal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botaoVoltar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 769px) {
    .botaoVoltar {
        padding-left: 15px !important;
    }
}

@media (max-width: 426px) {
    .containerPrincipal {
        padding: 10px;
    }

    .envoltórioConteudo {
        gap: 15px;
    }

    .botaoVoltar {
        margin: 5px 0;
        justify-content: center;
    }
}