.nome{
    color: var(--preto);
}

.idStyle{
    color: var(--rosa);
    background-color: rgba(224, 108, 158, 0.6);
}

.infos{
    color: gray;
    font-size: .85em;
}

.ativo{
    color: green;
    background-color: rgba(146, 228, 146, 0.52);
}

.bloqueado{
    color: var(--laranja);
    background-color: rgba(255, 178, 65, 0.63);
}

.recusado{
    color: var(--vermelho);
    background-color: rgba(230, 153, 148, 0.61);
}

.cardDoadorAdm{
    position: relative;
}

.linhaAtivo, .linhaBloqueado, .linhaDesativado, .linhaPendente{
    position: absolute;
    top: 0;
    left: -5px;
    border-radius: .375rem 0 0 .375rem;
    width: 10px;
    height: 100%;
}

.linhaAtivo {
    background-color: rgba(146, 228, 146);
}

.linhaBloqueado {
    background-color: rgba(255, 178, 65);
}

.linhaRecusado {
    background-color: rgba(230, 153, 148);
}

.nomeCortar{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media(max-width:426px){
    .infos p{
        font-size: 1.1em;
    }
    .nome p{
        font-size: 1.2em !important;
    }
    .justify p{
        text-align: justify;
    }
    .nomeCortar {
        max-width: 70%;
    }
}