.card{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.textoGrande h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: var(--preto);
}

.botoes {
    width: 350px !important;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

@media (max-width: 769px) {

}

@media (max-width: 426px) {
    .textoGrande{
        width: 100%;
        min-width: 0;
    }
}