.nav_container {
    display: flex;
    gap: 10px;
}

.nav_btn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #999;
    text-decoration: none;
    color: black;
    padding: 10px !important;
    width: 105px;
    text-align: center;
}

/*.nav_btn.ativo {*/
/*    background-color: #80005a;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

@media (max-width: 426px) {
    .nav_container{
        flex-direction: column;
    }
    .nav_btn{
        width: 100%;
        padding: 20px 10px;
    }
}