.titulo {
    font-family: Inter;
    font-size: 40px;
}

.banner {
    color: var(--branco);
    width: 75%;
}

.branco {
    color: var(--branco);
}
.categorias{
    margin-bottom: 0 !important;
}

@media (max-width: 426px) {
    .titulo {
        font-size: 30px;
    }

    .banner {
        width: 100%;
    }
}