@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roxo: #730662;
    --rosa: #BD0D59;
    --vermelho: #E03E36;
    --laranja: #F1731F;
    --bege: #EECCBB;
    --preto: #000;
    --branco: #fff;
    --titulo: Inter;
    --cor-borda: #D9534F;
    --titulo-card: 16px;
    --cinza: rgb(234, 234, 234);
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    text-decoration: none !important;
}

.color-roxo{
    color: var(--roxo);
}

.color-vermelho{
    color: var(--vermelho);
}

.color-laranja{
    color: var(--laranja);
}

.color-rosa{
    color: var(--rosa);
}
/*BACKGROUNDS PREDEFINIDOS*/
/*Usar principalmente em botões*/

.tamanhoTexto {
    font-size: 25px;
    max-width: 100% !important;
}

.formataAltura{
    min-height: calc(100vh - 180px);
}

a.active {
    background-color: var(--roxo) !important;
    color: var(--branco) !important;
}

.paginas{
    background-color: var(--branco) !important;
}

.bordinha{
    /*border: 2px solid var(--preto) !important;*/
}