@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --roxo: #730662;
    --rosa: #850038;
    --vermelho: #E03E36;
    --laranja: #F1731F;
    --bege: #e19f82;
    --preto: #000;
    --branco: #fff;
    --titulo: Inter;
    --cor-borda: #D9534F;
    --titulo-card: 16px;
    --cinza: rgb(234, 234, 234);
    --cinza-claro: rgb(152, 152, 152);
    --cinza-escuro: rgb(47, 44, 44);
    --rosa-choque: #FF69B4
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    text-decoration: none !important;
}

.color-roxo{
    color: var(--roxo);
}

.color-vermelho{
    color: var(--vermelho);
}

.color-laranja{
    color: var(--laranja);
}

.color-rosa{
    color: var(--rosa);
}
/*BACKGROUNDS PREDEFINIDOS*/
.cor-fundo-bege{
    background-color: var(--bege);
    color: var(--preto);
}

.cor-fundo-laranja{
    background-color: var(--laranja);
    color: var(--branco);
}

/*Usar principalmente em botões*/

.tamanhoTexto {
    font-size: 25px;
    max-width: 100% !important;
}

.formataAltura{
    min-height: calc(100vh - 180px);
}

a.active {
    background-color: var(--roxo) !important;
    color: var(--branco) !important;
}

.paginas{
    background-color: var(--branco) !important;
}

.bordinha{
    /*border: 2px solid var(--preto) !important;*/
}


.swal2-container,
.swal2-container * {
    box-sizing: border-box !important;
}

.swal2-popup {
    padding: 1.25em !important;
    border-radius: 0.3125em !important;
}

.swal2-icon {
    margin: 2.5em auto 0.6em !important;
}

.swal2-title {
    margin: 0 !important;
    padding: 0.8em 1em 0 !important;
}

.swal2-html-container {
    margin: 1em 1.6em 0.3em !important;
    padding: 0 !important;
}

.swal2-actions {
    margin: 1.25em auto 0 !important;
    padding: 0 !important;
    gap: 0.625em !important;
}

.swal2-styled {
    margin: 0.3125em !important;
    padding: 0.625em 1.1em !important;
    border-radius: 0.25em !important;
}

.swal2-confirm,
.swal2-cancel {
    padding: 0.625em 1.1em !important;
}

.swal2-confirm{
    background-color: var(--laranja);
}.swal2-confirm:hover{
    background-color: var(--vermelho);
}

.swal2-cancel:hover{
    background-color: var(--roxo) !important;
}

/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: var(--roxo);*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb:active {*/
/*    background: var(--rosa);*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border: 2px solid var(--branco);*/
/*}*/