.cardEstatistica{
    width: 60%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    transition: 0.2s;

    border: 1px solid var(--laranja);
}

.tituloCard{
    font-size: 1rem;
    width: 100%;

    text-align: center;

    color: #111;
}

.valorCard{
    font-size: 2rem;
    font-weight: bold;

    color: #111;
}


@media (max-width: 769px){

    .containerEstatisticas{
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .cardEstatistica{
        width: 90%;
    }

    .tituloCard{
        font-size: 0.9rem;
    }

    .valorCard{
        font-size: 1.7rem;
    }

}

@media (max-width: 456px){
    .cardEstatistica{
        width: 225%;
    }
}

@media (max-width: 321px){
    .tituloCard{
        font-size: 0.8rem;
    }
}