.img {
    width: 40%;
    height: 90%;
    border-radius: 168px;
    border: 2px solid var(--preto);
}

.Quem_Somos {
    display: flex;
    background-color: #EECCBB;
    padding: 4vh;
}

.Quem_Somos_text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Quem_Somos_text h1 {
    color: var(--laranja);
}

.Baner2 {
    background-color: var(--vermelho);
}

.divImg {
    width: 50%;
}

.tamanhoSection{
    min-height: 350px;
}

@media (max-width: 426px) {
    .img {
        height: 40vh;
    }
}