/*.banner {*/
/*    background-image: linear-gradient(to left, #00000078, #00000078), url('/bannerImg.png');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center top;*/
/*    background-attachment: fixed;*/
/*    min-height: 500px;*/
/*    flex-direction: column;*/
/*    font-weight: 800;*/
/*    justify-content: start;*/
/*}*/

/*@media (max-width: 426px) {*/
/*    .banner{*/
/*        background-position: right center;*/
/*    }*/
/*}*/

.banner {
    background-image: linear-gradient(to left, #00000078, #00000078), url('/bannerImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
}

@media (max-width: 426px) {
    .banner{
        background-position: right center;
    }
}