.mensagem{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mensagemInteira {
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.divMenu{
    position: relative;
}

.menuAberto{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
}

.menu{
    width: 30px;
}

.imagemUsuario {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.cursorClick {
    cursor: pointer;
}

.tamanhoTexto {
    font-size: 500px;
}

@media(max-width:300px){  }